<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>支付宝认证列表</title>
	<link rel="stylesheet" href="__PUBLIC__/css/reset.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/content.css" />
</head>
<body marginwidth="0" marginheight="0">
	<div class="container">
		<div class="myboxdiv">
			<div class="public-nav">您当前的位置：<a href="">用户管理</a>></div>
			<div class="public-content">
				<div class="public-content-header">
					<h3 class="moneyone">
						<a href="" >支付宝认证列表</a>
					</h3>
				</div>
				<div class="public-content-cont">
				<h3 class="sos"><strong>支付宝认证详细信息</strong></h3>
				<div class="moneycheck">
						<div class="moneyblock">
							<div class="cur">
								<div class="row1 moneyrow4">
									<div class="row-left">
										<div class="form-group">
				                           支付宝姓名
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           {$alidata.payname}
										</div>
									</div>
								</div>
								<div class="row1 moneyrow4">
									<div class="row-left">
										<div class="form-group">
				                           支付账号 
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
											{$alidata.alipay}
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
				</div>
			</div>
		</div>
	</div>
<script src="__PUBLIC__/kingediter/kindeditor-all-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>

</body>
</html>