<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页轮播图管理</title>
	<link rel="stylesheet" href="../css/reset.css" />
	<link rel="stylesheet" href="../css/content.css" />
</head>
<body marginwidth="0" marginheight="0">
	<div class="container">
		<div class="myboxdiv">
			<div class="public-nav">您当前的位置：<a href="">财务模块</a>></div>
			<div class="public-content">
				<div class="public-content-header">
					<h3 class="moneyone">
						<a href="" class="cur">财务概况</a>
						<a href="">网站收支</a>
						<a href="">用户流水</a>
						<a href="">充值审核</a>
						<a href="">提现审核</a>
					</h3>
				</div>
				<div class="public-content-cont">
				<h3 class="sos"><strong>搜索</strong></h3>
				<div class="row1">
					<div class="row-left">
						<div class="form-group">
							<label for="">起止时间</label>
							<form action="" mothod="post">
								<input class="form-input-txt" type="text" name="stime" value="" />
								<input class="form-input-txt" type="text" name="ovname" value="" />
								<button>搜索</button>
							</form>
						</div>
					</div>
				</div>
				<h3 class="sos"><strong>财务概况(今日)</strong></h3>
				<div class="row1 moneyrow1 mycheckboxs">
					<div class="row-left cur">
						<div class="form-group">
                           <b>流水统计</b>
						</div>
					</div>
					<div class="row-left">
						<div class="form-group">
                           <b>充值总计</b>
						</div>
					</div>
					<div class="row-left">
						<div class="form-group">
                           <b>提现总计</b>
						</div>
					</div>
					<div class="row-left">
						<div class="form-group">
                           <b>网站纯利</b>
						</div>
					</div>
				</div>
				<div class="moneycheck">
						<div class="moneyblock">
							<div class="cur">
								<div class="row1 moneyrow1">
									<div class="row-left">
										<div class="form-group">
				                           <strong>分类</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>详细</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>提现总计</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>总计</strong>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1">
									<div class="row-left">
										<div class="form-group">
				                           <b>流水统计</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>充值总计</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>提现总计</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>网站纯利</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1">
									<div class="row-left">
										<div class="form-group">
				                           <b>托管赏金</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1">
									<div class="row-left">
										<div class="form-group">
				                           <b>增值服务</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1">
									<div class="row-left">
										<div class="form-group">
				                           <b>人才出售</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>
										</div>
									</div>
								</div>
								<div class="row1 monyrow1">
									<div class="form-group">
										今日站点现金流入信息，包含任务发布、增值服务购买，商城人才出售。为站点毛利，不统计提现信息。
									</div>
								</div>
							</div>
							<div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <strong>充值方式</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>充值次数(次)</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>充值金额</strong>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>在线充值</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>线下充值</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>订单充值</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>网站手动充值</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>总计</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>
										</div>
									</div>
								</div>
								<div class="row1 monyrow1 row2">
									<div class="form-group">
										今日站点现金充值信息，包含线上充值、线下充值、站长充值
									</div>
								</div>
							</div>
							<div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <strong>分类</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>金额</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>盈利</strong>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>第 三 方</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>线下银行</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>暂无数据</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>总计</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>
										</div>
									</div>
								</div>
								<div class="row1 monyrow1 row2">
									<div class="form-group">
										今日站点用户通过各种渠道从站点提出的金额,盈利部分为根据网站后台的收费标准的扣除的手续费。并未扣除在与第三方交易过程中站长自身造成的利润损失。
									</div>
								</div>
							</div>
							<div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <strong>来源</strong>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <strong>金额</strong>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>任务佣金</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>人才抽成</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>增值服务</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>用户认证</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>用户提现</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>>
										</div>
									</div>
								</div>
								<div class="row1 moneyrow1 row2">
									<div class="row-left">
										<div class="form-group">
				                           <b>总计</b>
										</div>
									</div>
									<div class="row-left">
										<div class="form-group">
				                           <b>￥0.00元</b>
										</div>
									</div>
								</div>
								<div class="row1 monyrow1 row2">
									<div class="form-group">
										今日站点用户通过各种渠道从站点提出的金额,盈利部分为根据网站后台的收费标准的扣除的手续费。并未扣除在与第三方交易过程中站长自身造成的利润损失。
									</div>
								</div>
							</div>
						</div>
				</div>
				</div>
			</div>
		</div>
	</div>
<script src="../kingediter/kindeditor-all-min.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
     $(function(){
     	$(".mycheckboxs>div").click(function(){
     		$(this).addClass("cur").siblings().removeClass("cur");
     		$(".moneyblock>div").eq($(this).index()).addClass("cur").siblings().removeClass("cur");
     	})
     });
	 KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>
</body>
</html>