<!DOCTYPE html> 
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的消息</title>
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fotorama.css">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>
         <div class="container-fluid personalTop">
            <div class="container">
              <div class="pull-left personalNav">
                  <a href="index.html" class="pull-left"><img src="__PUBLIC__/img/logo1.jpg" class="autoimg" alt=""></a>
                  <p class="pull-left">
                    <a href="PersonalCenter.html">我的主页</a>
                    <a href="employer.html" >我是雇主</a>
                    <a href="serprovider.html" >我是服务商</a>
                    <a href="administration.html">账号管理</a>
                    <a href="mynews.html" class="cur">我的消息</a>
                  </p>
              </div>
              <div class="mysearchs personalsearchs pull-right">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">服务<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">建筑工程</a></li>
                      <li class="divider"></li>
                      <li><a href="#">建筑工程</a></li>
                      <li class="divider"></li>
                      <li><a href="#">建筑工程</a></li>
                      <li class="divider"></li>
                      <li><a href="#">建筑工程</a></li>
                      <li class="divider"></li>
                      <li><a href="#">建筑工程</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="navbar-form navbar-left myinput" role="search">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入关键词">
                  </div>
                  <button type="submit" class="btn btn-default">搜索</button>
                </form>
              </div>
              </div>
            </div>
         </div>
         <div class="container personalmain employer">
             <div class="personalleft pull-left">
                <div>
                   <h3><img src="__PUBLIC__/img/I8.png" class="autoimg" alt="">我的消息</h3>
                   <ul>
                     <li class="cur"><a href="javascript:void(0);">交易动态</a></li>
                     <li><a href="javascript:void(0);">系统通知</a></li>
                   </ul>
                </div>
             </div>
             <div class="employerright pull-right employer1 mynewss">
                 <div class="cur">
                   <h3>交易动态</h3>
                   <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <select name="" id="">
                          <option value="全部">全部</option>
                          <option value="已读">已读（1）</option>
                          <option value="未读">未读（1）</option>
                        </select>
                      </div>
                   </div>
                    <h4>
                      <input type="checkbox" class="ace">
                      <a href="javascript:void(0);"></a>
                      <button>标记所选为已读</button>
                      <button>删除所选</button>
                    </h4>
                    <ul class="newslists">
                      <li>
                        <div class="cur">
                          <span class="newstime pull-right">2016.10.13  10:58</span>
                          <input type="text" class="ace">
                          <a href="javascript:void(0);"></a>
                          <i>任务发布成功</i>
                          <p>
                            尊敬的13632372138：<br>
                            您的任务97611111111111审核通过，感谢您对众包威客开源建站系统的信任。<br>
                            如有特殊情况，请致电客服，我们将协助您解决问题。<br>
                            任务编号：976<br>
                            任务标题：11111111111<br>
                            任务状态：审核通过<br>
                            开始时间：2016-09-14 00:00:00<br>
                            投稿结束时间：2016-09-15 00:00:00<br>
                          </p>
                        </div>
                      </li>
                      <li>
                        <div>
                          <span class="newstime pull-right">2016.10.13  10:58</span>
                          <input type="text" class="ace">
                          <a href="javascript:void(0);"></a>
                          <i>任务交付</i>
                          <p>
                            尊敬的13632372138：<br>
                            您的任务97611111111111审核通过，感谢您对众包威客开源建站系统的信任。<br>
                            如有特殊情况，请致电客服，我们将协助您解决问题。<br>
                            任务编号：976<br>
                            任务标题：11111111111<br>
                            任务状态：审核通过<br>
                            开始时间：2016-09-14 00:00:00<br>
                            投稿结束时间：2016-09-15 00:00:00<br>
                          </p>
                        </div>
                      </li>
                    </ul>
                 </div>
             </div>
         </div>
          <div class="container-fluid flooreih marginTop">
              <div class="container">
                     <p class="boxp">友情链接:<a href="">欧安信</a><a href="">百度</a></p>
                     <p><a href="">关于我们</a><a href="">服务条款</a> <a href="">联系我们</a><a href="">网站地图</a>   <a href="">RSS订阅</a> </p> 
                     <p>公司名称:广州欧安信认证咨询有限公司 地址:广州市天河区黄村晨晖大厦D栋312 电话:18826268620<br>粤ICP备16016069号-2</p>    
              </div>
          </div>
          <script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
          <script type="text/javascript">
           $(".employer .personalleft h3").click(function(){
              $(this).siblings("ul").toggleClass("cur");
           });
           $(".employer .personalleft a").click(function(){
            $(this).parents(".personalleft").find("li").removeClass("cur");
            $(this).parents("li").addClass("cur")
           });
           $(".mynewss h4 a").click(function(){
              $(this).parents(".mynewss").find("a").toggleClass("cur");
           });
           $(".newslists div").click(function(){
              $(this).children("p").toggleClass("cur");
           });
           $(".newslists a").click(function(event){
              $(this).toggleClass("cur");
              event.stopPropagation();
           });
          </script>
    </body>
</html>